/* Pon tu código css aqui */
body{
	margin: 0;
	padding: 0
}
div{
	width: 200px;
	height: 200px;
	position: absolute;

}
.contenedor-1{
	background-color: #ee3e64;
	left: 0;
	top:0;
}
.contenedor-2{
	background-color: #44accf;
	right: 0;
	top: 0;
}
.contenedor-3{
	background-color: #b7d84b;
	left: 0;
	bottom: 0;
}
.contenedor-4{
	background-color: yellow;
	right: 0;
	bottom: 0
}
